html,
body {
  height: 100%;
}

.form-signin {
  max-width: 400px;
  padding: 1rem;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin select {
  margin-bottom: 20px;
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}

.form-signin input[type="password"] {
  margin-bottom: 20px;
  /* border-top-left-radius: 0;
  border-top-right-radius: 0; */
}

.form-signin input[type="text"] {
  margin-bottom: 20px; 
  /* border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; */
}