/* Atualizados */
/* body {
        background-image: url('../img/default.png'); 
        background-size: cover;
        background-position: center;
} */
#divAeroporto { font-family: Arial; font-size: 40px; font-weight: bold; color: #FFFFFF;}
#divTitulo { font-family: Arial; font-size: 40px; font-weight: bold; color: #FFFFFF;}
#divRelogio { font-family: Arial; font-size: 40px; font-weight: bold; color: #FFFFFF;}
#divPagina { font-family: Arial; font-size: 16px; font-weight: normal; color: #FFFFFF;}
#divRodape { background-image: url('../img/logo_medio.png'); background-repeat: no-repeat; border-radius: 5px; }

.monitor { position: relative; height: 100vh; width: 100vw; background-color: #9f9f9f; overflow: hidden; }
.cabecalhoTela { width:100%; height:11%; padding: 0rem 1.5rem; background-color: rgba(0,0,255,0.1);}
.tabelaDados { width:100%; height:100%; background-color: rgba(0,0,255,0.1); white-space: nowrap; overflow: hidden; }
.tdCabecalho { font-family: Arial; font-size: 16px; font-weight: bold; text-align: center; color: #FFFFFF;}
.tdDadosGrI { font-family: Arial; font-size: 26px; font-weight: bold; color: #FFFFFF;}
.tdDadosGrII { font-family: Arial; font-size: 26px; font-weight: bold; color: #FFFFFF;}

.marquee {
        overflow: hidden;
        white-space: nowrap;
      }
      
      .marquee span {
        animation: marquee 10s linear infinite;
        display: inline-block;
        padding-left: 100%;
      }
          
      @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
      
        100% {
          transform: translate(-100%, 0);
        }
      }

#abs, absbody { overflow: hidden; position: absolute; vertical-align: center;}
div { overflow: hidden; position: relative; vertical-align: center;}
body { margin: 0 0 0 0; }
.hd_Cabecalho { border:0; width:100%;}
#cabecalho_150 { left:0px; top:0px; width:150px; height:56px;}
#cabecalho_500 { left:0px; top:0px; width:500px; height:56px;}
#cabecalho_700 { left:0px; top:0px; width:700px; height:56px;}
#titulo_500 {float:left; position:absolute; margin:0 0 0 0; width:500px; height:54px; z-index:0;}
#titulo_700 {float:left; position:absolute; margin:0 0 0 0; width:700px; height:54px; z-index:0;}
.hd_Center_500 { font-family: Arial; padding: 0 0 0 0px;
                 font-weight: bold; font-size: 32px; color:#FFFFFF; text-align: center;}
.hd_Center_700 { font-family: Arial; padding: 0 0 0 0px;
                 font-weight: bold; font-size: 32px; color:#FFFFFF; text-align: center;}
.hd_Left_500 { font-family: Arial; padding: 0 0 0 0px;
               font-weight: bold; font-size: 32px; color:#FFFFFF; text-align: left;}
.hd_Left_700 { font-family: Arial; padding: 0 0 0 0px;
               font-weight: bold; font-size: 32px; color:#FFFFFF; text-align: left;}
#anima-mala {float: right; position:relative; margin: 0 0 0 -150; z-index: 10;}
#anima-partida {float: right; position:relative; margin: 0 0 0 -150; z-index: 10;}
#anima-chegada {float: right; position:relative; margin: 0 0 0 -150; z-index: 10;}
/* .tdCabecalho { border-style: outset; border-width: 0px; font-family: Arial; font-size: 28px;
    font-weight: bold; text-align: left; color: #FFFFFF; margin: 0 10px 0 0;} */
#tdRelogio { border-style: outset; border-width: 0px; font-family: Arial; font-size: 28px;
    font-weight: bold; text-align: left; color: #FFFFFF; margin: 0 10px 0 0;}

.hd_Rodape { background: #324389; border-style: none; border-top: 1px solid #FFFFFF;
             font-family: Arial; font-size: 28px; font-weight: normal; text-align: center;
             color: #FEE301; padding: 2px 10px 0px 10px; margin: 0 0 0 0;}
.hd_Tabela { background: #353535; border: 0; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: center; color: #FFFFFF; width: 100%; height: 100%;}
.hd_Titulo { background: #324389; border-style: outset;
        border-width: 0px; font-family: Arial;
        font-size: 14px; font-weight: bold;
        text-align: center; color: #FFFFFF;}
.hd_DataVoo { background: #324389; border-style: outset;
        border-width: 0px; font-family: Arial;
        font-size: 24px; font-weight: normal;
        text-align: center; color: #FFFFFF;}
.hd_Atencao { background: #353535; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: left; color: #FEE301;}
.hd_Atencao_Par { background: #000000; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: left; color: #FEE301;}
.hd_ColCenter { background: #353535; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px;
        text-align: center; color: #FFFFFF;}
.hd_ColCenter_Par { background: #000000; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: center; color: #FFFFFF;}
.hd_ColLeft { background: #353535; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: left; color: #FFFFFF;}
.hd_ColLeft_Par { background: #000000; border-style: outset;
        border-width: 0px; font-family: Arial; 
        font-size: 24px; font-weight: normal;
        text-align: left; color: #FFFFFF;}
.hd_Pagina { border-style: outset; border-width: 0px;
        font-family: Arial; font-size: 10px; font-weight: bold;
        text-align: left; color: #FFFFFF;}
.tdBotaoVoltar { border-width:1; border-color:#006699; margin-right:10;
        width:60; height:22; background-repeat: no-repeat;
        cursor: pointer; font-family: Arial; font-size: 12px;
        font-weight: bold; text-align: center; color: #1F5D9A;}