/* Atualizados  */
body { margin: 0; font-family: Arial; display: flex; justify-content: center; align-items: center;
    min-height: 100vh; background-color: #f0f0f0; line-height: 1.25;}

#divMonitor { position: relative; height: 100vh; width: 100vw; background-color: #9f9f9f; overflow: hidden; }
#divCabecalho { width: 100vw; height: 11vh; padding: 0rem 1.5rem; background-color: rgba(0,0,255,0.1);   }
#divAeroporto { font-family: Arial; font-size: 2.8vw; font-weight: bold; color: #FFFFFF;}
#divTitulo { font-family: Arial; font-size: 2.8vw; font-weight: bold; color: #FFFFFF;}
#divSubTitulo { font-family: Arial; font-size: 1.2vw; font-weight: bold; color: #FFFFFF;}
#divRelogio { font-family: Arial; font-size: 2.8vw; font-weight: bold; color: #FFFFFF;}
#divPagina { font-family: Arial; font-size: 1.2vw; font-weight: bold; color: #FFFFFF;}
#divDecolamais { width: 8vw; height: 3vh; }

.linhaCabecalho { display: flex; justify-content: space-around; align-items: center; }

#divTabela { width: 75vw; height: 75vh; white-space: nowrap; overflow: hidden; background-color: rgba(0,0,255,0.1); }
#divPropaganda { width:100vw; height:90vh; background-color: rgba(255,0,0,0.1); background-repeat: no-repeat; 
  background-position: center center; background-size: cover; min-height: 90vh; max-width: 100vw;}

.cia { display: flex; justify-content: center; align-items: center; width: 3vw; height: 2.5vh; }
.tdCabecalho { font-family: Arial; font-size: 0.68vw; font-weight: bold; text-align: center; color: #FFFFFF;}
.tdDadosGrI { font-family: Arial; font-size: 1.2vw; font-weight: bold; color: #FFFFFF; padding: 0; margin: 0;}
.tdDadosGrII { font-family: Arial; font-size: 1.2vw; font-weight: bold; color: #FFFFFF; padding: 0; margin: 0;}